.header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header nav ul {
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

@media (min-width: 40rem) {
    .header nav ul {
        display: flex;
    }
}

.header nav ul li {
    margin: 0 0.25rem;
    padding: 1rem;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
}